body{
	margin: 0;
	max-width: 2560px;
	max-height: 1080px;
	position:Relative;
}
.container-fluid{
	position: absolute;
	background-image: url(images/SPARC_placemat_scene_v1-sky.jpg);
	background-size:cover;
	height:100%;
	width:100%;
	z-index: -5;
}

#wrap{

	min-height: 590px;
}



/*
#top{
	width:100%;
	height:100%;
	background-image: url(images/content-placement.png);
	position:absolute;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: contain;
}
*/

#left{
	background-image: url(images/left-panel.png);
	width: 100%;
	height: 100%;
	position: absolute;
	background-position: 0% 0;
	background-size: contain;
	background-repeat: no-repeat;
	z-index:10;
	left:0;
}

#right{
	background-image: url(images/right-panel.png);
	width: 100%;
	height: 100%;
	position: absolute;
	right:0;
	background-position:100% 0px;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 10;
}


#maga{
	background-image: url(images/maga-logo.png);
	width: 100%;
	height: 100%;
	position: absolute;
	right:0;
	background-position:100% -4px;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 10;
}


#logo{
	background-image: url(images/logo.png),url(images/top-back.png);
	height: 20%;
	background-position: 50% 0, 50% 0;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat, repeat-x;
	position: absolute;
}


#bottom{
	overflow: hidden;
	height:100%;
	width:100%;
	/*background-color: blue;*/
	position: absolute;
	bottom:0;
	left:0;
	z-index: 1000;
}

#bottom-image{
	/*background-image: url(images/SPARC_placemat_scene_v1-no_overlay.png);*/
	background-image: url(images/image-content.png);
	background-size:cover;
	background-repeat:no-repeat; 
	background-position: 50% 50%;
	height:100%;
}

.floatingIcon{
	position:fixed;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}




@-webkit-keyframes float-up {
	0% {top: 50%;}
	100% { top:-300px;}
}
@-moz-keyframes float-up {
	0% {top: 50%;}
	100% { top:-300px;}
}
@-o-keyframes float-up {
	0% {top: 50%;}
	100% { top:-300px;}
}
@keyframes float-up {
	0% {top: 50%;}
	100% { top:-300px;}
}



@-webkit-keyframes wobble {
	0%, 40%, 80% { -webkit-transform: rotate(8deg);}
	20%, 60% { -webkit-transform: rotate(-8deg);}
	100% { }
}
@-moz-keyframes wobble {
	0%, 40%, 80% { -moz-transform: rotate(8deg);}
	20%, 60% { -moz-transform: rotate(-8deg);}
	100% { }
}
@-o-keyframes wobble {
	0%, 40%, 80% { transform: rotate(8deg);}
	20%, 60% { transform: rotate(-8deg);}
	100% { }
}
@keyframes wobble {
	0%, 40%, 80% { transform: rotate(8deg);}
	20%, 60% { transform: rotate(-8deg);}
	100% { }
}


@-webkit-keyframes float-lr {
	0%, 40%, 80% { left: 35%; }
	20%, 60%, 100% { left: 32%;}
}


@-moz-keyframes float-lr {
	0%, 40%, 80% { left: 35%; }
	20%, 60%, 100% { left: 32%;}
}

@-o-keyframes float-lr {
	0%, 40%, 80% { left: 35%; }
	20%, 60%, 100% { left: 32%;}
}

@keyframes float-lr {
	0%, 40%, 80% { left: 35%; }
	20%, 60%, 100% { left: 32%;}
}


.animateFloat{
		-webkit-animation: float-up 10s ease-in-out forwards, wobble 10s ease-in-out forwards;
}


/*.animateRock{
		-webkit-animation: float-lr 10s ease-in-out forwards;

}*/


.floatingChair{
	width: 100px;
	height: 150px;
	background-image: url(images/animations/teamphoria-logo.png);


}

.arrowLogo{
	width:80px;
	height:80px;
	background-image: url(images/animations/5twenty-logo-02.png);


}

.skullLogo{
	background-image: url(images/animations/hackathon4-icon-02.png);
	width:80px;
	height:80px;

	
}

.preLogo{
	background-image: url(images/animations/prepado-logo.png);
	width:100px;
	height:100px;

	
}


.sparcLogo{
	background-image: url(images/animations/sparc-u.png);
	width:90px;
	height:90px;
	left:24%;
	
}

.startBottom
{
	top:90%;
}



